@use '../util/function' as *;
.box {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    > h1 {
        font-size: rem(56);
        margin-bottom: rem(112);
        color: var(--btntitle);
    }

    > button {
        all: unset;
        font: inherit;
        font-weight: bold;
        font-size: rem(20);
        padding: rem(16) rem(24);
        border-radius: rem(30);
        background: var(--btncolor);
        color: var(--btntext);
        transition: all ease-in-out 200ms;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: var(--btncolor-hover);
        }
    }
}

section > :not(.box) {
    height: 100vh;
    padding: 0 rem(30);
}
