:root {
    // font family
    --font-Nunito: 'Nunito', sans-serif;

    // COLOR

    // -- toggle
    --tg-textGray: hsla(0, 0%, 0%, 0.4);
    --tg-textGray-dark: rgb(174, 179, 203);
    --tg-bgcolor: hsl(0, 0%, 53%);
    --tg-bgcolor2: hsl(129, 62%, 62%);

    // background
    --bgcolor: hsl(210, 33%, 96%);
    --bgcolor-dark: hsl(230, 17%, 14%);

    // button
    --btntitle-light: hsl(0, 0%, 35%);
    --btntitle-dark: hsl(0, 0%, 80%);

    --btncolor: hsl(262, 97%, 61%);
    --btncolor-dark: hsl(262, 80%, 55%);

    --btncolor-hover: hsl(262, 100%, 55%);
    --btncolor-hover-dark: hsl(262, 85%, 48%);

    --btntext: hsl(0, 0%, 100%);
    --btntext-dark: hsl(0, 0%, 85%);

    // footer
    --footercolor: rgba(0, 0, 0, 0.3);
    --footercolor-dark: rgba(0, 0, 0, 0);

    // modal
    --modalbg: rgb(243, 243, 243);
    --modalbg-dark: hsl(230, 17%, 27%);

    --modalicon: hsl(129, 62%, 62%);
    --modalicon-dark: hsl(129, 55%, 62%);

    --modalheader: hsl(0, 0%, 0%);
    --modalheader-dark: hsl(0, 0%, 90%);

    --modaldesc: hsl(0, 0%, 50%);
    --modaldesc-dark: hsl(0, 0%, 76%);

    --modalbtn: hsl(0, 0%, 50%);
    --modalbtn-dark: hsl(0, 0%, 90%);

    --modalbtn-hover: hsl(0, 0%, 42%);
    --modalbtn-hover-dark: hsl(0, 0%, 80%);

    --modalbtn-text: hsl(0, 0%, 100%);
    --modalbtn-text-dark: hsl(0, 0%, 27%);
}

body.dark {
    transition: all ease-in-out 500ms;
    // toggle
    --tg-textGray: var(--tg-textGray-dark);

    // background
    --bgcolor: var(--bgcolor-dark);

    // button
    --btntitle: var(--btntitle-dark);
    --btncolor: var(--btncolor-dark);
    --btncolor-hover: var(--btncolor-hover-dark);
    --btntext: var(--btntext-dark);

    // footer
    --footercolor: var(--footercolor-dark);

    // modal
    --modalbg: var(--modalbg-dark);
    --modalicon: var(--modalicon-dark);
    --modalheader: var(--modalheader-dark);
    --modaldesc: var(--modaldesc-dark);
    --modalbtn: var(--modalbtn-dark);
    --modalbtn-hover: var(--modalbtn-hover-dark);
    --modalbtn-text: var(--modalbtn-text-dark);
}
